<% if @user %>
    <h1><%= @user.username %> Games</h1>
<% else %>
    <h1>Games</h1>
<% end %>
<br>
<% @games.each do |x| %>
    <%= link_to x.name, game_path(x) %> Rating: <%= x.rating %><br>
<% end %>